@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

body {
  background-color: #f0f0f0 !important;
  font-family: "Open Sans", sans-serif;
}
.dark .MuiPaper-root.MuiPaper-elevation {
  background-color: #000;
  color: white;
}
.dark header.MuiPaper-root.MuiPaper-elevation {
  background-color: #1976d2;
}
.dark .MuiButtonBase-root.MuiIconButton-root {
  color: #fff;
}
.whiteTimeBox {
  margin-bottom: 30px;
  box-shadow: none;
  border-width: 0;
  border: 1px solid transparent;
  border-color: #ddd;
  min-height: 549px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.timeHeading {
  font-size: 112px;
  color: #555 !important;
  margin-bottom: 0px;
}
.dateHeading {
  color: #555 !important;
  font-size: 28px;
  margin-top: 0px;
}
.btnAlarm {
  border-color: #429c65;
  color: #fff;
  background-color: #4aae71;
  border-color: #4aae71;
  min-width: 90px;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 1.6;
  border: none;
  cursor: pointer;
}
.btnAlarm:hover {
  background-color: #2e7e4d;
}

.whiteTimeBoxTwo {
  margin-bottom: 30px;
  box-shadow: none;
  border-width: 0;
  border: 1px solid transparent;
  border-color: #ddd;
  min-height: 549px;
  padding: 30px;
  width: calc(50% - 10px);
}
.panelHeading {
  padding: 0px 0px 15px 0px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}
.mainWrapper {
  display: flex;
  gap: 20px;
}
.alermBtn {
  padding: 8px 12px;
  line-height: 1.6;
  border-radius: 0px;
  border-color: rgb(0, 144, 221);
  color: rgb(255, 255, 255);
  background-color: rgb(0, 144, 221);
  margin-right: 5px;
  margin-bottom: 5px;
  min-width: 90px;
  margin-top: 0px;
  display: inline-grid;
}

@media (max-width: 767px) {
  .mainWrapper {
    flex-wrap: wrap;
  }
  .whiteTimeBoxTwo {
    width: 100%;
  }
  .timeHeading {
    font-size: 45px;
    text-align: center;
    line-height: 1;
    margin-bottom: 10px;
  }
  .parent .whiteTimeBoxTime.child {
    width: calc(100% - 10px);
    margin-bottom: 0;
    min-height: 115px;
    max-height: initial;
  }
  .list .listChid {
    width: calc(100% - 10px);
  }
  .addbtnwhitebox.child {
    width: calc(100% - 10px);
    margin: 10px 0;
    min-height: 100px;
    max-height: 100px;
  }
  .icon_list_wrp li a .MuiListItemButton-gutters {
    padding: 0 !important;
  }
  body {
    overflow-x: hidden;
  }
  .css-15yma32-MuiDrawer-docked .MuiDrawer-paper {
    position: fixed !important;
    left: 0;
    transition: all ease 0.7s;
  }
  .css-1mqzofi .MuiDrawer-paper {
    position: fixed !important;
    left: 0;
    transition: all ease 0.7s;
  }
  .css-n7rtur-MuiPaper-root-MuiAppBar-root {
    left: 0 !important;
    width: 100% !important;
    transition: all ease 0.7s;
  }
  .css-im4i5j {
    left: 0 !important;
    width: 100% !important;
    transition: all ease 0.7s;
  }
  .css-1vh3fpr-MuiDrawer-docked .MuiDrawer-paper {
    transition: all ease 0.7s;
  }
  .css-8atqhb {
    width: calc(100% - 56px) !important;
  }
  .list {
    max-height: 500px;
    overflow-y: auto;
  }
  .modalBox .popup_timer_wrp {
    width: 95%;
    margin: 0 auto;
  }
  .btnEdit {
    margin-right: 0 !important;
    margin-bottom: 5px !important;
  }
  .btnReset {
    margin-left: 0 !important;
    margin-top: 5px !important;
  }
  .buttons {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}

.recenttime {
  color: red;
}

.whiteTimeBoxthree {
  margin-bottom: 30px;
  box-shadow: none;
  border-width: 0;
  border: 1px solid transparent;
  border-color: #ddd;
  min-height: 349px;
  padding: 30px;
}
.mainbody {
  width: 100%;
}

.recentBox {
  justify-content: space-between;
  display: flex;
}

.btnStart {
  border-color: #429c65;
  color: #fff;
  background-color: #4aae71;
  border-color: #4aae71;
  min-width: 90px;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 1.6;
  border: none;
  cursor: pointer;
  margin-right: 5px !important;
}
.btnStart:hover {
  background-color: #2e7e4d;
}
.btnStop {
  border-color: #a30505;
  color: #fff;
  background-color: #2596be;
  border-color: #2596be;
  min-width: 90px;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 1.6;
  border: none;
  cursor: pointer;
  margin-right: 5px !important;
}
.btnStop:hover {
  background-color: #ff1a1a;
}
.btnReset {
  border-color: #ffcc00;
  color: #fff;
  background-color: #ffcc00;
  border-color: #ffcc00;
  min-width: 90px;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 1.6;
  border: none;
  cursor: pointer;
}
.btnReset:hover {
  background-color: #ebd063;
}

.whiteTimeBoxTime {
  margin-bottom: 30px;
  box-shadow: none;
  border-width: 0;
  border: 1px solid transparent;
  border-color: #ddd;
  min-height: 200px;
  max-height: 400px;
  border-radius: 10px;
}

.panelHeadingtime {
  padding: 10px 15px 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.timemain {
  display: flex;
  justify-content: center;
  color: #555 !important;
  font-size: 28px;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.child {
  display: inline-block;
  width: calc(25% - 10px);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.listChid {
  display: inline-block;
  color: blue;
  width: calc(25% - 10px);
}

.addbtnwhitebox {
  background-color: #fff;
  margin-bottom: 30px;
  box-shadow: none;
  border-width: 0;
  border: 1px solid transparent;
  border-color: #ddd;
  min-height: 200px;
  max-height: 400px;
  justify-content: center;
  display: flex !important;
  align-items: center;
}
.addbtn {
  border-color: #429c65;
  color: #fff;
  background-color: #4aae71;
  border-color: #4aae71;
  min-width: 90px;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 1.6;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}
.modalBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
#parent-modal-title {
  margin-top: 0;
  padding-left: 20px;
}

body.light {
  --background: white;
  --text: black;
}

body.dark {
  --background: #0e0f14;
  --text: white;
}
.whiteTimeBoxtime {
  margin-bottom: 30px;
  box-shadow: none;
  border-width: 0;
  border: 1px solid transparent;
  border-color: #ddd;
  min-height: 549px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whiteTimeBoxx {
  margin-bottom: 30px;
  box-shadow: none;
  border-width: 0;
  border: 1px solid transparent;
  border-color: #ddd;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timeHeadingx {
  font-size: 30px;
  color: #555 !important;
  margin-bottom: 0px;
}
.btnEdit {
  border-color: #2596be;
  color: #fff;
  background-color: #2596be;
  border-color: #2596be;
  min-width: 90px;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 1.6;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}
.btnEdit:hover {
  background-color: #63a1e3;
}

.brck {
  word-break: break-all;
  padding-right: 10px;
  cursor: pointer;
}

.whiteTimeBoxxx {
  margin-bottom: 30px;
  box-shadow: none;
  border-width: 0;
  border: 1px solid transparent;
  border-color: #ddd;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.panelHeadingxx {
  padding: 0px 0px 10px 0px;
  border-bottom: 1px solid #ddd;
}
